@use './../abstracts/spacings' as spacings;
@use './../abstracts/typography' as typo;

.primary-header {
  display: flex;
  align-items: center;

  text-align: center;
  padding: spacings.$spacing-400;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &__back-button {
    display: none;
  }

  &--with-back-button &__back-button {
    display: block;
    font-size: typo.$scale-900;
  }

  & > .logo {
    margin: auto;
  }
}
