$primary: hsl(267, 66%, 60%);
$primary-light: hsl(267, 66%, 65%);
$secondary: hsl(317, 100%, 74%);
$secondary-light: hsl(317, 100%, 79%);
$secondary-pale: #f5edff;
$tertiary: hsl(165, 56%, 74%);
$tertiary-darker: hsl(165, 56%, 32%);

$background-light: #f6f6f6;
$background-medium: #eaeaea;
$background-dark: #353535;
$text-light: #fff;
$text-medium: #969696;
$text-dark: #000;
