$primary: #9356dc;
$secondary: #ff79da;
$tertiary: hsl(165, 56%, 74%);
$tertiary-darker: hsl(165, 56%, 32%);

$background-light: #f6f6f6;
$background-medium: #eaeaea;
$background-dark: #353535;
$text-light: #fff;
$text-medium: #969696;
$text-dark: #000;
