@use './colors' as colors;
@use './spacings' as spacings;
@use './typography' as typo;

@mixin unstyled-button() {
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

@mixin ul-list-item($bg) {
  background: $bg;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
  border-radius: spacings.$spacing-400;
  padding: spacings.$spacing-400;
}

@mixin ol-list-item($index) {
  @include ul-list-item(colors.$background-medium);
  font-weight: 500;
  position: relative;

  &::before {
    content: $index;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: colors.$primary;
    width: 1.5rem;
    height: 1.5rem;
    color: colors.$text-light;
    border-radius: 100vmax;
    text-align: center;
  }
}
