$base_font: 'Roboto', sans-serif;
$logo_font: 'Shrikhand', cursive;
$title_font: 'Shrikhand', cursive;

body {
  font-family: $base_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title_font;
}

.logo {
  font-family: $logo_font;
}
