@use './../abstracts/colors' as colors;
@use './../abstracts/spacings' as spacings;
@use './../abstracts/typography' as typo;
@use './../abstracts/mixins' as mixins;

.restaurant-page {
  & > img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  &__container {
    border-radius: spacings.$spacing-500 spacings.$spacing-500 0 0;
    padding: spacings.$spacing-400;
    background: colors.$background-light;
    transform: translate(0, calc(spacings.$spacing-500 * -1));
  }

  &__header {
    display: flex;
    align-items: center;
    font-family: typo.$title_font;
    margin-bottom: spacings.$spacing-400;

    & > .like-button {
      margin-left: auto;
    }
  }

  &__content {
    .restaurant-meals {
      &__title {
        font-weight: 300;
        font-size: typo.$scale-300;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: spacings.$spacing-300;

        &::after {
          content: '';
          display: block;
          width: 75%;
          height: 2px;
          background-color: colors.$tertiary;
        }
      }

      opacity: 0;
      &__list {
        margin: spacings.$spacing-300 0 spacings.$spacing-500;

        &-element {
          @include mixins.ul-list-item(colors.$text-light);
          display: flex;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          padding: 0;
          // opacity: 0;

          & > div:nth-child(1) {
            max-width: 85%;
            padding: spacings.$spacing-400;
            transition: max-width 0.25s;
          }

          &:hover {
            & > div:nth-child(1) {
              max-width: calc(85% - spacings.$spacing-600);
            }

            .restaurant-meals__meal {
              &-right {
                max-width: calc(spacings.$spacing-600 * 2);
              }

              &-add > * {
                transform: rotate(360deg);
              }
            }
          }
        }

        & > * + * {
          margin-top: spacings.$spacing-400;
        }

        .restaurant-meals__meal {
          &-name,
          &-price {
            font-weight: 500;
          }

          &-description,
          &-name {
            font-size: typo.$scale-300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
          }

          &-right {
            transition: max-width 0.25s;
            display: flex;
            margin-left: auto;
            max-width: 2.5rem;
          }

          &-price {
            margin-left: auto;
            margin-top: auto;
            padding: spacings.$spacing-400 spacings.$spacing-400
              spacings.$spacing-400 0;
          }

          &-add {
            transition: transform 0.25s;
            display: flex;
            width: spacings.$spacing-600;
            // padding-left: calc(
            //   spacings.$spacing-600 + calc(spacings.$spacing-400 * 2)
            // );

            & > * {
              margin: auto;
              background: colors.$background-light;
              border-radius: 100vmax;
              color: colors.$tertiary;
              padding: spacings.$spacing-200;
              transform: rotate(0);
              transition: transform 0.25s;
            }

            background: colors.$tertiary;
          }
        }
      }
    }

    .cta__container {
      display: flex;

      .cta {
        margin: spacings.$spacing-400 auto spacings.$spacing-600;
      }
    }
  }

  $appear-duration: 0.25s;

  &--a_la_francaise,
  &--la_palette_du_gout,
  &--le_delice_des_sens {
    @include mixins.restaurant-items-appear(3, (3, 3, 3), 0.25s);
  }

  &--la_note_enchantee {
    @include mixins.restaurant-items-appear(3, (4, 3, 3), 0.25s);
  }
}
